form{
    border: 3px solid black;
    width: 400px;
    margin: 80px auto;
    position: inherit;
    }

.luar{
    border: 3px solid black;
    width: 800px;
    height: 500px;
    margin: 80px auto;
    text-align: center;
    font-size: 18px;
}
form.prof{
    border: 3px solid black;
    width: 800px;
    margin: 80px auto;
    position: inherit;
    }

.luarprof{
    border: 3px solid black;
    width: 800px;
    height: 500px;
    margin: 80px auto;
    text-align: center;
    font-size: 18px;
}
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}

button {
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
button.save {
    padding: 14px 20px;
    margin-top: 8px;
    margin-left: 300px;
    border: none;
    cursor: pointer;
}
.register {
    width: auto;
    padding: 10px 18px;
    background-color: black;
}

.container {
    padding: 16px;
}

h5{
    font-family: arial;
    text-align: : center;
    position: inherit;
}

.profdalam{
    border: 3px solid black;
    width: 800px;
    height: 50px;
    margin: 80px auto;
    text-align: center;
    font-size: 18px;
}

input.prof{
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
input.jdl{
     width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#badan-utama {
                width: 700px;
                height: 700px;
                margin: 0 auto;
                background-color: #fafafa;
                border: 1px solid grey;
                text-align: center;
                position: relative;
            }
            #header {
            width:700px;
            height: 50px;
            border: 1px solid grey;
            margin-bottom: 30px;
        }
            #dalem {
            width:600px;
            height: 600px;
            border: 1px solid grey;
            margin-bottom: 30px;
        }
            .menu-item {
                padding: 5px;
                background-color: yellow;
                border: 1px solid #f9f9f9;
                text-align: center;
            }
            p {
                text-align: center;
                background-color: green;
                color: yellow;
                font-family: REA;VIRTUE Regular;
            }

            a.kiri{
                float: left;
                font-family: "Arial";
    font-size: 14px;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    width: 100px;
            }

            a.kanan{
                float: right;
                font-family: "Arial";
    font-size: 14px;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 0px;
    text-decoration: none;
    width: 100px;
            }
